<footer
  class="p-2 px-10 rounded-2xl mt-5 bg-gray-800 border border-gray-700 text-sm max-w-[850px] mx-auto animate__animated animate__fadeInUp"
>
  <div
    class="flex flex-wrap items-center gap-5 justify-center sm:justify-between"
  >
    <p>&copy; 2025 | MIT License</p>
    <div class="flex gap-5 flex-wrap items-center">
      <p>Made With</p>
      <a
        href="https://angular.dev/"
        target="_blank"
        class="bg-gray-800 rounded border border-gray-700 p-1"
      >
        <svg
          width="34px"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M16 2L3 7L5 24L16 30L27 24L29 7L16 2Z" fill="#DD0031" />
          <path d="M16 2V30L27 24L29 7L16 2Z" fill="#C3002F" />
          <path
            d="M15.9998 5.09375L7.87305 23.3638H10.9031L12.5368 19.2757H19.4348L21.0685 23.3638H24.0986L15.9998 5.09375ZM18.3736 16.7557H13.626L15.9998 11.0298L18.3736 16.7557Z"
            fill="white"
          />
        </svg>
      </a>
      <a
        href="https://tailwindcss.com/"
        target="_blank"
        class="bg-gray-800 rounded border border-gray-700 p-1"
      >
        <svg
          width="34px"
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>file_type_tailwind</title>
          <path
            d="M9,13.7q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q11.1,10.9,9,13.7ZM2,22.1q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q4.1,19.3,2,22.1Z"
            style="fill: #44a8b3"
          />
        </svg>
      </a>
    </div>
  </div>
</footer>
